@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

:root {
  --ff-primary: 'IBM Plex Sans', sans-serif;
  --clr-primary: #F33823;
  --clr-grey: #00000099;
}

body {
  font-family: var(--ff-primary);
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 4rem
}

.profile {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 0.75rem 1.5rem;
}
.profile span {
  font-size: 1.5rem;
}

.items-container {
  display: flex;
  gap: 0.5rem;
}
.tabs {
  min-width: 250px;
  margin-left: 0.5rem;
}
.switch {
  flex-grow: 1;
}
.tab {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.75rem;
  color: var(--clr-grey);
  cursor: pointer;
  border-radius: 0.5rem;
}
.active {
  background-color: var(--clr-primary);
  color: #fff;
  font-weight: 700;
  font-size: 16px;

}
.tab span {
  font-size: 1.25rem;
}

/* manage students */
table {
  border-collapse: collapse;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.manage-students {
  width: 100%;
  text-align: left;
}
.switch {
  margin-right: 1rem;
}
td {
  padding: 0.9rem 1.5rem;
}
tr:nth-child(odd) {
  background-color: #FFF6F5;
}
.table-head {
  background-color: var(--clr-primary);
  color: #fff;
  padding: 0.9rem 1.5rem;
}
.first-head {
  border-top-left-radius: 0.5rem;
}
.last-head {
  border-top-right-radius: 0.5rem;
}
.td-icons {
  display: flex;
  gap: 1.25rem;
}
.eye,.edit,.delete {
  color: var(--clr-primary);
  font-size: 1.4rem;
  cursor: pointer;
}

.row {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.wrap {
  padding-top: 3.3rem;
}